.view {
  display: grid;
  height: calc(100vh - #{$header-height-mob});

  &.-home {
    grid-template-rows: 2fr 3fr;
  }

  &.-game {
    grid-template-rows: 1fr 1fr 1fr 5fr;
    padding: 2% 15px 5%;
  }
}
