.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $header-height-mob;
  box-shadow: 0 0 3px 3px $color-lightgray-font;

  &__title {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
  }
}
