.letter-slots {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  list-style: none;

  &__slot {
    justify-self: center;
    align-self: center;
    font-size: 40px;
    line-height: 60px;

    &.-empty {
      &::before {
        content: '\00B7';
      }
    }
  }
}
